################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.BAK
# Visual Studio / .NET
.vs/
bin/
obj/

# Runtime-generated content
Logs/
Upload/

*.user
*.suo
*.userosscache
*.sln.docstates

# Executables
*.exe
*.dll
*.pdb
*.mdb

# Temporary files
*.cache
*.tmp
*.log

# Sensitive Files / Configuration
appsettings.*.json
secrets.json
.env
*.publishxml
*.pubxml
/SQL
